/* body {
  color: orange;
} */
div ~ p {
  color: rgb(255, 106, 0);
}

.arrow-icon {
  stroke: black;
  fill: white;
}
/* це комбінований селектор типу безпосередній нащадок */
/* правила будуть застосовуватись до тегів li, які є прямими дітьми елемента з класом english-list */
.english-list > li {
  color: green;
  text-transform: uppercase;
}
.ua-list > li {
  text-decoration: underline;
  text-align: center;
}

.list > li {
  font-size: 18px;
}

/* до тегу li з класом active, який є прямою дитиною  */
.list > li.active {
  color: brown;
}

/* Кнопка */
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.hidden {
  /* залишає елемент в потоці сторінки,але робить його невидимим */
  /* visibility: hidden; */

  /* видаляє елемент із потоку сторінки,що дозволяє іншим елементам зайняти його місце */
  display: none;
}
